<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.exampleDebora"
    version   = "1.0.0">

<name>JQuery Mobile, Debora</name>

<description>
JQuery Mobile-Debora
</description>

<author href="https://example.com" email="you@example.com">
Debora Lizeth López Millán
</author>

<icon src="tel.png"  gap:density="ldpi" gap:platform="android" />
<icon src="tel.png"  gap:density="mdpi" gap:platform="android" />
<icon src="tel.png"  gap:density="hdpi" gap:platform="android" />
<icon src="tel.png"  gap:density="xhdpi" gap:platform="android" />

</widget>
